GOOGLE_SERVICE_ACCOUNT_EMAIL=sua-conta@seu-projeto.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nSUA_CHAVE_AQUI\n-----END PRIVATE KEY-----\n"
GOOGLE_SHEET_ID=ID_DA_SUA_PLANILHA
PORT=3001
